# Airflow UID
AIRFLOW_UID=1000
AIRFLOW_GID=0

# Fernet Key (generar con: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
FERNET_KEY=

# JWT
AIRFLOW__API_AUTH__JWT_SECRET=
AIRFLOW__API_AUTH__JWT_ISSUER=airflow

# Usuario Airflow
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# SQL Server (opcional)
SQL_SERVER_HOST=sql_server_2019
SQL_SERVER_PORT=1433
SQL_SERVER_DATABASE=master
SQLSERVER_USER_P001=sa
SQLSERVER_PASSWORD_P001=
